<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbt.babeltower"
    android:versionCode="050"
    android:versionName="0.5.0" > <!-- 升级时请在此修改对应的版本码和版本编号 ,并在strings.xml修改关于界面显示的版本 -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.sonymobile.permission.SYSTEM_UI_VISIBILITY_EXTENSIONS" />

    <application
        android:name="com.bbt.babeltower.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/babeltower_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.avos.avoscloud.PushService" />

        <!-- 为了让应用能在关闭的情况下也可以收到推送 -->
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.bbt.babeltower.activity.SplashScreen" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name="com.bbt.babeltower.activity.SwipeBackActivity" >
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.WebViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.AlbumWebViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.HackyViewPagerActivity"
            android:theme="@style/my_actionbar_theme" >
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.AboutActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.FeedbackActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.SpecialActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.avos.avoscloud.feedback.ThreadActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name="com.bbt.babeltower.activity.PhotoActivity" >
        </activity>
        <activity android:name="com.bbt.babeltower.activity.AlbumActivity" >
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.VideoActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.bbt.babeltower.activity.SectionContentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name="com.bbt.babeltower.activity.PushCallBackActivity" >
        </activity>
    </application>

</manifest>